{% extends 'adminBase.html.twig' %}

{% block title %}Les Commandes{% endblock %}

{% block cards %}
    <div style="    display: flex;
    justify-content: space-between;">
        <a href="{{ path('app_commande_new', {'idC':app.request.get('idC')}) }}" class="btn btn-primary">ajout</a>
        <form action="" method="get">
            <input type="text" name="rechercheString" placeholder="recherche(statue)">
            <button class="btn btn-dark" type="submit">Rechercher</button>
        </form>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Utilisateur</th>
            <th><a style="color: black"
                   >Date de commande</a></th>
            <th><a style="color: black"
                  >Statue</a></th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.user }}</td>
                <td>{{ commande.date |date }}</td>
                </td>
                <td>{{ commande.statue }}</td>
                <td>
                    <form method="post" action="{{ path('app_commande_delete', {'idC': commande.idC}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.idC) }}">
                        <button class="btn btn-danger">delete</button>
                    
                    <a class="btn btn-success" href="{{ path('app_commande_edit', {'idC': commande.idC}) }}">edit</a>
                    <a class="btn btn-warning"
                       href="{{ path('app_commande_item_index_commande', {'idC': commande.idC}) }}">items</a>
                       </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="justify-content: center;
    align-items: center;
    display: flex;
    font-size: 24px;">{{ knp_pagination_render(commandes) }}</div>

{% endblock %}
{% block topbar %}{% endblock %}
{% block charts %}{% endblock %}
{% block Project %}{% endblock %}