{% extends 'base.html.twig' %}

{% block title %}Modifier commentaire{% endblock %}

{% block hero %}
 <a href="{{ path('app_event_index') }}" class="btn btn-secondary btn-block mt-3">Retour</a>
<br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-4">Modifier un commentaire</h1>

        <form method="POST" action="{{ path('app_commentaire_edit', {'idCom': commentaire.idCom}) }}">
          {{ form_start(form) }}
          {{ form_widget(form) }}
          <button type="submit"class="btn btn-primary btn-block mt-4" style="background-color: #ff69b4";>Modifier</button>
          {{ form_end(form) }}
        </form>

      </div>
    </div>
  </div>
{% endblock %}
{% block About %}{% endblock %}

{% block WhyUs %}{% endblock %}
{% block stats %}{% endblock %}
{% block menu %}{% endblock %}
{% block testimonial %}{% endblock %}
{% block events %}{% endblock %}
{% block booking %}{% endblock %}
{% block gallery %}{% endblock %}
{% block contact %}{% endblock %}
{% block chefs %}{% endblock %}
{% block footer %}{% endblock %}