<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}Yummy Bootstrap Template - Index{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% block css%}
  <!-- Favicons -->
  <link href="{{ asset('img/favicon.png') }}" rel="icon">
  <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset('css/main.css') }}" rel="stylesheet">
  <link href="{{ asset('css/customETR.css') }}" rel="stylesheet">
  {% endblock %}

  
</head>
<body>

{% block header %}

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href={{ path ('app_home') }} class="logo d-flex align-items-center me-auto me-lg-0">  <!-- Nepointi aal path bel name moch path -->
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{{ asset('img/LogoBlack.png') }}" alt="">
        <h1>TouskieArt<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href={{path ('app_home')}}>Home</a></li>
          <li><a href={{ path ('app_event_index') }}>Evenement</a></li>

          {% if app.session.get('user') is not null %}
          <li><a href={{ path ('app_location_indexx') }}>Locations</a></li>
          {% else %}
          <li><a href={{ path ('app_login') }}>Locations</a></li>
          {% endif %}

          <li><a href={{ path ('app_produit_indexF') }}>Produits</a></li>
          {% if app.session.get('user') is not null %}
          <li><a href={{path ('app_reclamation')}}>Reclamations</a></li>
          {% else %}
          <li><a href={{path ('app_login')}}>Reclamations</a></li>
          {% endif %}
     {% if app.session.get('user') is not null %}
          <li class="dropdown"><a href="#"><span>Bienvenue {{ app.session.get('user').nom }} !</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            
            {% else %}
            <li class="dropdown"><a href="{{ path('app_login') }}"><span>Se connecter</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>

            {% endif %}
            {% if app.session.get('user') is not null %}
            <ul>
             <li><a href="{{ path('app_user_show', {'idUser': app.session.get('user').idUser}) }}">Profile </a></li>
             
              <li><a href={{ path ('app_ticket_index') }}>Mes Tickets</a></li>
              <li><a href={{ path ('mesCommande') }}>Mes commandes</a></li>
               <li><a href="{{ path('app_logout') }}">Déconnecter</a></li>
            </ul>
              
            
              {% endif %}
          </li>
        </ul>
      </nav><!-- .navbar -->



      {% if app.session.get('user') is not null %}
          <a class="btn-book-a-table" href={{ path ('cart') }}>Panier</a>
          {% else %}
         <a class="btn-book-a-table" href={{ path ('app_login') }}>Panier</a>
          {% endif %}
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  {% endblock %}




  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
    {% block body %}
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Enjoy Your Healthy<br>Delicious Food</h2>
          <p data-aos="fade-up" data-aos-delay="100">Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#book-a-table" class="btn-book-a-table">Book a Table</a>
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="{{ asset('img/hero-img.png') }}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
       {% endblock %}
    </div>
  </section><!-- End Hero Section -->
 



  
  </main><!-- End #main -->






  {% block footer %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Adresse</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022 - US<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contactez nous</h4>
            <p>
              <strong>Téléphone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@touskieart.tn<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Heures de service</h4>
            <p>
              <strong>Lun-Sam: </strong>11h00 - 23h00<br>
              <strong>Dimanche: </strong>Fermé
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Suivez-nous</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>TouskieArt</span></strong>. All Rights Reserved
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->
  {% endblock %}



  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  {% block js %}
  <!-- Vendor JS Files -->
  <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('vendor/aos/aos.js') }}"></script>
  <script src="{{ asset('vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ asset('vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ asset('vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ asset('vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ asset('js/main.js') }}"></script>
 
  
{% endblock %}
</body>

</html>